# Dependencies
node_modules
**/node_modules

# Build outputs
dist
.next
.turbo

# Development
.tilt
.env.local
.env.*.local

# Tests
coverage
**/*.test.ts
**/*.test.tsx

# Misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore
